@model ZREL.ZiPago.Aplicacion.Web.Models.Seguridad.UsuarioViewModel
@{
    ViewData["Title"] = "ZiPago | Restablecer contraseña";
    Layout = "_LayoutSeguridad";
}

<div class="login-box">

    <div class="login-logo" style="border-radius: 12px 12px 0px 0px">
        <img src="~/dist/img/zipago/Imagotipo_ZiPago-300x200.png" />
    </div>

    <div id="loginBox" class="login-box-body" style="border-radius: 0px 0px 12px 12px">
        <p class="login-box-msg">
            <strong>Ingrese sus datos para restablecer su contraseña</strong>
        </p>

        <form id="frmRestablecer" asp-controller="Seguridad" asp-action="Restablecer" method="post">
            <input id="idusuariozipago" name="idusuariozipago" type="hidden" asp-for="IdUsuarioZiPago" />
            <input id="jsparam1" name="jsparam1" type="hidden" value="@ViewData["Post"]" />
            <input id="jsparam2" name="jsparam2" type="hidden" value="@ViewData["HizoError"]" />
            <input id="jsparam3" name="jsparam3" type="hidden" value="@ViewData["Mensaje"]" />
            <input id="jsparam4" name="jsparam3" type="hidden" value="@ViewData["ZiPagoPortal"]" />
            <div class="form-group has-feedback">
                <input type="text" id="clave1" name="clave1" value="@ViewData["clave1"]" class="form-control" readonly>
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" id="clave2" name="clave2" class="form-control" placeholder="Nueva Contrase&ntilde;a">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" id="confirmeclave" name="confirmeclave" class="form-control" placeholder="Repita la Nueva Contrase&ntilde;a">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback" style="text-align: center;">
                <div class="g-recaptcha" data-sitekey="@ViewData["ReCaptchaKey"]" style="display: inline-block;"></div>
                <div id="errorCaptcha" style="display:none;" class="text-red">
                    Debe marcar la casilla No soy un robot.
                </div>
            </div>

            <div class="form-group has-feedback">
                @Html.ValidationMessage("ErrorRestablecer", "", new { @class = "text-red" })
            </div>

            <div class="row">
                <div class="col-xs-6">
                </div>
                <div class="col-xs-6">
                    <button type="submit" id="btnRestablecer" class="btn text-gray bg-blue btn-block btn-flat">Restablecer</button>
                </div>

            </div>
        </form>

    </div>

</div>

<script src="~/bower_components/jquery/dist/jquery-3.3.1.min.js"></script>
<script src="~/bower_components/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/bower_components/sweetalert/sweetalert.min.js"></script>
<script src="~/dist/js/adminlte.min.js"></script>
<script src="~/dist/js/Seguridad/restablecer.js"></script>
<script src="~/dist/js/comun.js"></script>
<script src='https://www.google.com/recaptcha/api.js' defer async></script>
