@model ZREL.ZiPago.Aplicacion.Web.Models.Afiliacion.DatosPersonalesViewModel

@{
    Layout = "_Layout";
    var departamentos = ViewBag.Departamentos as List<SelectListItem>;
    var provincias = ViewBag.Provincias as List<SelectListItem>;
    var distritos = ViewBag.Distritos as List<SelectListItem>;
}

<section class="content-header">
    <h1>
        Datos Personales
        <small>Registro</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li><a href="#">Afiliacion</a></li>
        <li class="active">Datos Personales</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Datos Personales</h3>
                </div>
                <!-- form start -->
                <form class="form-horizontal margen-cero" id="frmAfiliacion" asp-controller="" asp-action="" method="post">
                    <div class="box-body" style="padding-left: 20px; padding-right: 20px;">

                        <input id="idusuariozipago" name="idusuariozipago" type="hidden" asp-for="IdUsuarioZiPago" />
                        @Html.HiddenFor(x => x.EstadoRegistro)
                        <input id="fecha" name="fecha" type="hidden" asp-for="FechaNacimiento" />
                        <div class="form-group">
                            <label for="clave1" class="col-sm-2">@Html.DisplayNameFor(m => m.Clave1):</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" id="clave1" name="clave1" asp-for="Clave1" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2">Tipo de Persona</label><span class="required-value">*</span>
                            @foreach (var item in Model.TipoPersona)
                            {
                                <div class="col-sm-1 form-check form-check-inline">
                                    <input asp-for="CodigoTipoPersona" type="radio" id="optPersona@(item.Descr_Valor)" value="@item.Valor">
                                    <label for="optPersona@(item.Descr_Valor)">@item.Descr_Valor</label>
                                </div>
                            }
                        </div>
                        <div class="form-group">
                            <label for="codigorubronegocio" class="col-sm-2">Rubro del Negocio:</label>
                            <div class="form-group col-sm-2" style="margin-left:0px; margin-right:0px;">
                                <select id="codigorubronegocio" name="codigorubronegocio" asp-for="CodigoRubroNegocio" asp-items="@(new SelectList(Model.RubroNegocio,"Valor", "Descr_Valor", Model.CodigoRubroNegocio))" class="form-control" style="width: 100%;"></select>
                            </div>
                            <label for="otrorubronegocio" class="col-sm-2">Otro:</label>
                            <div class="col-sm-3">
                                <input id="otrorubronegocio" name="otrorubronegocio" type="text" class="form-control" placeholder="Rubro o Sector al cual pertenece el negocio" asp-for="OtroRubroNegocio">
                            </div>
                        </div>
                        <div id="DivJuridica">
                            <div class="form-group">
                                <label for="numeroruc" class="col-sm-2">RUC:</label>
                                <div class="col-sm-2">
                                    <input id="numeroruc" name="numeroruc" type="text" class="form-control" placeholder="Numero de Registro Unico de Contribuyente" asp-for="NumeroDocumento" maxlength="11">
                                </div>
                                <label for="razonsocial" class="col-sm-2">Razon Social:</label>
                                <div class="col-sm-3">
                                    <input id="razonsocial" name="razonsocial" type="text" class="form-control" placeholder="Razon Social segun SUNAT" asp-for="RazonSocial">
                                </div>
                            </div>
                            <hr />
                            <div class="form-group">
                                <label class="col-sm-2"><strong>Contacto: </strong></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="numerodni" class="col-sm-2">DNI:</label>
                            <div class="col-sm-2">
                                <input id="numerodni" name="numerodni" type="text" class="form-control" placeholder="Numero de DNI" asp-for="NumeroDocumentoContacto" maxlength="8">
                            </div>
                            <label for="nombres" class="col-sm-2">Nombres:</label>
                            <div class="col-sm-2">
                                <input id="nombres" name="nombres" type="text" class="form-control" placeholder="Nombres" asp-for="Nombres">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="apellidopaterno" class="col-sm-2">Apellido Paterno:</label>
                            <div class="col-sm-2">
                                <input id="apellidopaterno" name="apellidopaterno" type="text" class="form-control" placeholder="Apellido Paterno" asp-for="ApellidoPaterno">
                            </div>
                            <label for="apellidomaterno" class="col-sm-2">Apellido Materno:</label>
                            <div class="col-sm-2">
                                <input id="apellidomaterno" name="apellidomaterno" type="text" class="form-control" placeholder="Apellido Materno" asp-for="ApellidoMaterno">
                            </div>
                        </div>
                        <div class="form-group">

                            <label class="col-sm-2">Sexo:</label>
                            <div id="divGroupSexo" class="col-sm-2">
                                <div id="divSexo" class="col-sm-6 form-check form-check-inline">
                                    <input class="form-check-input" type="radio" asp-for="Sexo" id="optMasculino" value="M">
                                    <label class="label-radio" for="optMasculino">Masculino</label>
                                </div>
                                <div class="col-sm-6 form-check form-check-inline">
                                    <input class="form-check-input" type="radio" asp-for="Sexo" id="optFemenino" value="F">
                                    <label class="label-radio" for="optFemenino">Femenino</label>
                                </div>
                            </div>

                            <label for="fechanacimiento" class="col-sm-2">Fecha de Nacimiento:</label>
                            <div class="date col-sm-2">
                                <input id="fechanacimiento" name="fechanacimiento" type="text" class="form-control pull-right">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="telefonofijo" class="col-sm-2">Telefono Fijo:</label>
                            <div class="col-sm-2">
                                <input id="telefonofijo" name="telefonofijo" type="text" class="form-control" placeholder="Numero de Telefono Fijo" asp-for="TelefonoFijo">
                            </div>
                            <label for="telefonomovil" class="col-sm-2">Telefono Movil:</label>
                            <div class="col-sm-2">
                                <input id="telefonomovil" name="telefonomovil" type="text" class="form-control" placeholder="Numero de Telefono Movil" asp-for="TelefonoMovil">
                            </div>
                        </div>

                        <hr />
                        <input id="iddomiciliozipago" name="iddomiciliozipago" type="hidden" asp-for="IdDomicilioZiPago" />
                        <div class="form-group">
                            <label class="col-sm-2"><strong>Domicilio: </strong></label>
                        </div>
                        <div class="form-group">
                            <label for="codigodepartamento" class="col-sm-2">Departamento:</label>
                            <div class="col-sm-2">
                                @Html.DropDownListFor(x => x.CodigoDepartamento, departamentos, new { @class = "form-control",
                                    id = "departamento",
                                    name = "departamento",
                                    style = "width: 100%;",
                                    data_cascade_combo = "#provincia",
                                    data_cascade_combo2 = "#distrito",
                                    data_cascade_combo_source = Url.Action("ListarPorUbigeo", "DatosPersonales"),
                                    data_cascade_combo_param_name = "strCodigoUbigeo"
                           })
                            </div>
                            <label for="codigoprovincia" class="col-sm-2">Provincia:</label>
                            <div class="col-sm-2">
                                @Html.DropDownListFor(x => x.CodigoProvincia, provincias, new { @class = "form-control" ,
                                    style = "width: 100%;",
                                    id = "provincia",
                                    name = "provincia",
                                    data_cascade_combo = "#distrito",
                                    data_cascade_combo_source = Url.Action("ListarPorUbigeo", "DatosPersonales"),
                                    data_cascade_combo_param_name = "strCodigoUbigeo"
                                })
                            </div>
                            <div class="col-sm-1">
                                <button type="button" id="btnHistorico" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg" data-backdrop="static" data-keyboard="false">
                                    <i class="fa fa-home"></i> Ver Historico                                    
                                </button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="codigodistrito" class="col-sm-2">Distrito:</label>
                            <div class="col-sm-2">
                                @Html.DropDownListFor(x => x.CodigoDistrito, distritos, new { @class = "form-control",
                                    style = "width: 100%;",
                                    id = "distrito",
                                    name = "distrito",
                                })
                            </div>
                        </div>
                        <div class="form-group">
                            <div>
                                <label for="via" class="col-sm-2">Direccion:</label>
                            </div>
                            <div class="col-sm-6">
                                <input id="via" name="via" type="text" class="form-control" placeholder="Calle, Jiron, Avenida, Pasaje, etc." asp-for="Via">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-6">
                                <input id="direccionfacturacion" name="direccionfacturacion" type="text" class="form-control" placeholder="Urbanizacion, Complejo, Residencial, Barrio, etc." asp-for="DireccionFacturacion">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="referencia" class="col-sm-2">Referencia:</label>
                            <div class="col-sm-6">
                                <input id="referencia" name="referencia" type="text" class="form-control" placeholder="Referencia para ubicar la direccion" asp-for="Referencia">
                            </div>
                        </div>
                        <hr />
                        <div class="form-group col-sm-4">
                            <a href="#">Ver los terminos y condiciones aceptados.</a>
                        </div>
                    </div>
                    <div class="box-footer">
                        <div style="text-align:right">
                            <button type="button" id="btnCancelar" class="btn btn-default">
                                <i class="fa fa-undo"></i>&nbsp;Cancelar
                            </button>
                            <button type="button" id="btnRegistrar" class="btn btn-primary">
                                <i class="fa fa-plus"></i>&nbsp;Registrar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="modalDomicilios" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="modalDomiciliosLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalDomiciliosLabel"><strong>Informacion Historica de Domicilios</strong></h4>
                </div>
                <div class="modal-body">

                    <div class="row" style="margin-top:10px">
                        <div class="col-sm-12">
                            <table 
                                id="tbldomicilios"
                                data-classes="table table-hover table-striped"
                                data-locale="es-ES"
                                data-toggle="table"
                                data-search="false"
                                data-show-refresh="false"
                                data-pagination="true"
                                data-show-pagination-switch="false"
                                data-page-size="5"
                                data-page-list="[5, 10, 15, All]"
                                data-query-params="extraServerParams"
                                data-pagination-pre-text="Anterior"
                                data-pagination-next-text="Siguiente"
                            >
                                <thead>
                                    <tr>
                                        <th data-field="Id" data-visible="false">Id</th>
                                        <th data-field="Departamento">Departamento</th>
                                        <th data-field="Provincia">Provincia</th>
                                        <th data-field="Distrito">Distrito</th>
                                        <th data-field="Direccion">Direccion</th>                                        
                                        <th data-field="Referencia">Referencia</th>
                                        <th data-field="Estado">Estado</th>
                                        <th data-field="FechaRegistro">Fecha de Registro</th>
                                        <th data-field="FechaActualizacion">Fecha de Actualizacion</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" id="btnCancelar" class="btn btn-default" data-dismiss="modal">Cancelar</button>                    
                </div>
            </div>
        </div>
    </div>

</section>

<script src="~/bower_components/jquery/dist/jquery-3.3.1.min.js"></script>
<script src="~/bower_components/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/bower_components/bootstrap-table-master/dist/bootstrap-table.min.js"></script>
<script src="~/bower_components/bootstrap-table-master/dist/locale/bootstrap-table-es-ES.min.js"></script>
<script src="~/bower_components/moment/min/moment.min.js"></script>
<script src="~/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script src="~/bower_components/bootstrap-datepicker/dist/locales/bootstrap-datepicker.es.min.js"></script>
<script src="~/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="~/bower_components/fastclick/lib/fastclick.js"></script>
<script src="~/bower_components/sweetalert/sweetalert.min.js"></script>
<script src="~/dist/js/adminlte.min.js"></script>
<script src="~/dist/js/Afiliacion/datospersonales.js"></script>