@{
    Layout = "_Layout";
}

<section class="content-header">
    <h1>
        Principal
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li class="active">Principal</li>
    </ol>
</section>

<section class="content">

    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>@ViewData["ComerciosCantidad"]</h3>
                    <p>@ViewData["ComerciosTexto"]</p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
                <a class="small-box-footer">&nbsp;</a>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>@ViewData["CuentasBancariasCantidad"]</h3>
                    <p>@ViewData["CuentasBancariasTexto"]</p>
                </div>
                <div class="icon">
                    <i class="fa fa-credit-card"></i>
                </div>
                <a class="small-box-footer">&nbsp;</a>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>@ViewData["TransaccionesCantidad"]</h3>
                    <p>@ViewData["TransaccionesTexto"]</p>
                </div>
                <div class="icon">
                    <i class="fa fa-shopping-cart"></i>
                </div>
                <a class="small-box-footer">&nbsp;</a>
            </div>
        </div>        
        <div class="col-lg-3 col-xs-6">            
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>@ViewData["PagosMonto"]</h3>
                    <p>@ViewData["PagosTexto"]</p>
                </div>
                <div class="icon">
                    <i class="fa fa-money"></i>
                </div>
                <a class="small-box-footer">&nbsp;</a>
            </div>
        </div>        
    </div>
</section>


<script src="~/bower_components/jquery/dist/jquery-3.3.1.min.js"></script>
<script src="~/bower_components/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="~/bower_components/fastclick/lib/fastclick.js"></script>
<script src="~/dist/js/adminlte.min.js"></script>
