@model ZREL.ZiPago.Aplicacion.Web.Models.Afiliacion.CuentaBancariaViewModel
@using ZREL.ZiPago.Libreria
@{
    Layout = "_Layout";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Cuentas Bancarias
        <small>Registro</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li><a href="#">Afiliacion</a></li>
        <li class="active">Cuentas Bancarias</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Consulta de Cuentas Bancarias</h3>
                </div>
                <div class="box-body">

                    <div class="row">

                        <div class="col-md-12">

                            <div class="box box-widget">
                                <div class="box-header">
                                    <h3 class="box-title">Filtros:</h3>
                                    <div class="box-tools">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="box-body">

                                    <form class="form-horizontal" id="frmConsulta" method="post">

                                        <input id="idusuariozipago" name="idusuariozipago" type="hidden" asp-for="IdUsuarioZiPago" />

                                        <div class="form-group">
                                            <label for="idbancozipago" class="col-sm-1 control-label">Banco:</label>
                                            <div class="col-sm-2">
                                                <select id="idbancozipago" name="idbancozipago" asp-items="@(new SelectList(Model.Bancos,"IdBancoZiPago", "NombreLargo"))" class="form-control"></select>
                                            </div>

                                            <label for="tipocuenta" class="col-sm-2 control-label">Tipo de Cta. Bancaria:</label>
                                            <div class="col-sm-2">
                                                <select id="tipocuenta" name="tipocuenta" asp-items="@(new SelectList(Model.TipoCuentas,"Valor", "Descr_Valor"))" class="form-control"></select>
                                            </div>

                                            <label for="tipomoneda" class="col-sm-1 control-label">Moneda:</label>
                                            <div class="col-sm-2">
                                                <select id="tipomoneda" name="tipomoneda" asp-items="@(new SelectList(Model.TipoMonedas,"Valor", "Descr_Valor"))" class="form-control"></select>
                                            </div>

                                        </div>

                                        <div class="form-group">

                                            <label for="estado" class="col-sm-1 control-label">Estado:</label>
                                            <div class="col-sm-2">
                                                <select id="estado" name="estado" class="form-control">
                                                    <option value="0">Seleccione</option>
                                                    <option value="@Constantes.strValor_Activo">Activo</option>
                                                    <option value="@Constantes.strValor_NoActivo">Inactivo</option>
                                                </select>
                                            </div>

                                            <label for="numerocuenta" class="col-sm-2 control-label">Nro. de Cta. Bancaria:</label>
                                            <div class="col-sm-2">
                                                <input id="numerocuenta" name="numerocuenta" type="text" class="form-control" placeholder="Nro. de Cta. Bancaria" maxlength="20">
                                            </div>

                                            <div class="col-sm-3"></div>

                                            <div class="col-sm-2" style="text-align:right">
                                                <button type="button" id="btnCancelar" name="btnCancelar" class="btn btn-default">
                                                    <i class="fa fa-undo"></i>&nbsp;Cancelar
                                                </button>
                                                <button type="button" id="btnConsultar" name="btnConsultar" class="btn btn-primary">
                                                    <i class="fa fa-search"></i>&nbsp;Consultar
                                                </button>
                                            </div>
                                        </div>

                                    </form>

                                </div>
                            </div>

                            <div class="box box-widget">
                                <div class="box-header">
                                    <h3 class="box-title">Cuentas Bancarias registradas:</h3>
                                    <a asp-controller="CuentaBancaria" asp-action="Registrar" class="btn btn-success pull-right">
                                        <i class="fa fa-plus"></i>&nbsp;&nbsp;Agregar
                                    </a>
                                </div>
                                <div class="box-body">
                                    <div class="form-group">
                                        <table id="tblcomercios"
                                               data-classes="table table-hover table-striped"
                                               data-locale="es-ES"
                                               data-toggle="table"
                                               data-search="false"
                                               data-show-refresh="false"
                                               data-pagination="true"
                                               data-show-pagination-switch="false"
                                               data-page-size="5"
                                               data-page-list="[5, 10, 15, 20, All]"
                                               data-query-params="extraServerParams"
                                               data-pagination-pre-text="Anterior"
                                               data-pagination-next-text="Siguiente">
                                            <thead>
                                                <tr>
                                                    <th data-field="Id" data-visible="false">Id</th>
                                                    <th data-field="Codigo">Banco</th>
                                                    <th data-field="Descripcion">Descripcion</th>
                                                    <th data-field="CorreoNotificacion">Correo de Notificacion</th>
                                                    <th data-field="IdBancoZiPago" data-visible="false">IdBancoZiPago</th>
                                                    <th data-field="Banco">Banco</th>
                                                    <th data-field="TipoCuentaBancaria">Tipo de Cuenta</th>
                                                    <th data-field="MonedaCuentaBancaria">Moneda</th>
                                                    <th data-field="CuentaBancaria">Nro. de Cuenta</th>
                                                    <th data-field="Estado">Estado</th>
                                                    <th data-field="FechaCreacion">Fecha Registro</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-warning alert-dismissible">
                <h4><i class="icon fa fa-warning"></i>Deseas modificar o eliminar tus Cuentas Bancarias registradas?</h4>
                <h4>
                    Por favor solicitalo a traves de nuestro <a href="https://zipago.zammad.com/" target="_blank">Servicio de Tickets ZiPago</a>.
                    Para ello crea un ticket de tipo "Modificacion/Supresion de datos", el cual sera atendido a la brevedad.
                </h4>
            </div>
        </div>
    </div>

</section>
<script src="~/bower_components/jquery/dist/jquery.min.js"></script>
<script src="~/bower_components/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="~/bower_components/fastclick/lib/fastclick.js"></script>
<script src="~/dist/js/adminlte.min.js"></script>
<script src="~/dist/js/Afiliacion/cuentabancaria.js"></script>