@model ZREL.ZiPago.Aplicacion.Web.Models.Afiliacion.CuentaBancariaViewModel
@using ZREL.ZiPago.Libreria
@{
    Layout = "_Layout";
    ViewData["Inicio"] = "";
    ViewData["Afiliacion"] = " active";
    ViewData["DatosPersonales"] = "";
    ViewData["CuentaBancaria"] = " class=\"active\" ";
    ViewData["Comercio"] = "";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Cuentas Bancarias
        <small>Consulta</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li><a href="#">Afiliacion</a></li>
        <li class="active">Cuentas Bancarias</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Consulta de Cuentas Bancarias</h3>
                </div>
                <div class="box-body">

                    <div class="row">

                        <div class="col-md-12">

                            <div class="box box-widget collapsed-box">
                                <div class="box-header">
                                    <h3 class="box-title">Filtros de busqueda:</h3>
                                    <div class="box-tools">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="box-body">

                                    <form class="form-horizontal" id="frmConsulta" method="post">

                                        <input id="idusuariozipago" name="idusuariozipago" type="hidden" asp-for="IdUsuarioZiPago" />

                                        <div class="form-group">
                                            <label for="idbancozipago" class="col-sm-1 control-label">Banco:</label>
                                            <div class="col-sm-2">
                                                <select id="idbancozipago" name="idbancozipago" asp-items="@(new SelectList(Model.Bancos,"IdEntidad", "Descripcion"))" class="form-control"></select>
                                            </div>

                                            <label for="tipocuenta" class="col-sm-2 control-label">Tipo de Cta. Bancaria:</label>
                                            <div class="col-sm-2">
                                                <select id="tipocuenta" name="tipocuenta" asp-items="@(new SelectList(Model.TipoCuentas,"Valor", "Descr_Valor"))" class="form-control"></select>
                                            </div>

                                            <label for="tipomoneda" class="col-sm-1 control-label">Moneda:</label>
                                            <div class="col-sm-2">
                                                <select id="tipomoneda" name="tipomoneda" asp-items="@(new SelectList(Model.TipoMonedas,"Valor", "Descr_Valor"))" class="form-control"></select>
                                            </div>

                                        </div>

                                        <div class="form-group">

                                            <label for="estado" class="col-sm-1 control-label">Estado:</label>
                                            <div class="col-sm-2">
                                                <select id="estado" name="estado" class="form-control">
                                                    <option value="0">Seleccione</option>
                                                    <option value="@Constantes.strValor_Activo">Activo</option>
                                                    <option value="@Constantes.strValor_NoActivo">Inactivo</option>
                                                </select>
                                            </div>

                                            <label for="numerocuenta" class="col-sm-2 control-label">Nro. de Cta. Bancaria:</label>
                                            <div class="col-sm-2">
                                                <input id="numerocuenta" name="numerocuenta" type="text" class="form-control" placeholder="Nro. de Cta. Bancaria" maxlength="20">
                                            </div>

                                            <div class="col-sm-3"></div>

                                            <div class="col-sm-2" style="text-align:right">
                                                <button type="button" id="btnCancelar" name="btnCancelar" class="btn btn-default">
                                                    <i class="fa fa-eraser"></i>&nbsp;Limpiar Filtros
                                                </button>
                                                <button type="button" id="btnConsultar" name="btnConsultar" class="btn btn-primary">
                                                    <i class="fa fa-search"></i>&nbsp;Consultar
                                                </button>
                                            </div>
                                        </div>

                                    </form>

                                </div>
                            </div>

                            <div class="box box-widget">
                                <div class="box-header">
                                    <h3 class="box-title">Cuentas Bancarias registradas:</h3>
                                    <a asp-controller="CuentaBancaria" asp-action="Registrar" class="btn btn-success pull-right">
                                        <i class="fa fa-file"></i>&nbsp;&nbsp;Nuevo
                                    </a>
                                </div>
                                <div class="box-body">
                                    <div class="form-group">
                                        <table id="tblcuentas"
                                               data-classes="table table-hover table-striped"
                                               data-locale="es-ES"
                                               data-toggle="table"
                                               data-search="false"
                                               data-show-refresh="false"
                                               data-pagination="true"
                                               data-show-pagination-switch="false"
                                               data-page-size="5"
                                               data-page-list="[5, 10, 15, 20, All]"
                                               data-url="Listar"
                                               data-query-params="extraServerParams"
                                               data-pagination-pre-text="Anterior"
                                               data-pagination-next-text="Siguiente">
                                            <thead>
                                                <tr>
                                                    <th data-field="id" data-visible="false">Id</th>
                                                    <th data-field="idCuentaBancaria" data-visible="false">IdCuentaBancaria</th>
                                                    <th data-field="banco">Banco</th>
                                                    <th data-field="tipoCuenta">Tipo de Cuenta</th>
                                                    <th data-field="tipoMoneda">Moneda</th>
                                                    <th data-field="numeroCuenta">Nro. de Cuenta</th>
                                                    <th data-field="cci">CCI</th>
                                                    <th data-field="estado">Estado</th>
                                                    <th data-field="fechaCreacion" data-formatter="FormatearFecha">Fecha Registro</th>
                                                    <th data-field="editar" data-align="center" data-formatter="editarFormatter">Operacion</th>
                                                    @*<th data-field="editar" data-align="center" data-formatter="editarFormatter" data-events="editarEvents">Operacion</th>*@
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<script src="~/bower_components/jquery/dist/jquery-3.3.1.min.js"></script>
<script src="~/bower_components/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/bower_components/bootstrap-table-master/dist/bootstrap-table.min.js"></script>
<script src="~/bower_components/bootstrap-table-master/dist/locale/bootstrap-table-es-ES.min.js"></script>
<script src="~/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="~/bower_components/fastclick/lib/fastclick.js"></script>
<script src="~/dist/js/adminlte.min.js"></script>
<script src="~/dist/js/Afiliacion/cuentabancariaconsulta.js"></script>
<script src="~/dist/js/comun.js"></script>